body {
    background-image : url("../src/background-leafs\ 2.jpg");
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    width:fit-content;
}

