body{
    margin: 0;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0;
}

.list{
    width: 100%;
    text-align: center;
    overflow: hidden; /*es lo que me permite esconder el resto de la lista, y solo se vea el primer elemento de esta*/
    width: 1400px;
    height: 40px;

}


.list > ul > li{
        list-style: none;
        height: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        font-weight: 800;
    }

#l1{
    background-color: red;
}

#l2{
    background-color: orange;
}

#l3{
    background-color: yellow;
}

#l4{
    background-color: rgb(38, 179, 38);
}

#l5{
    background-color: rgb(22, 88, 231);
}

#l6{
    background-color: rgb(196, 49, 196);
}

