.table-hover{
    min-height: 70vh;
    max-width:  1000px;
    margin: 0 auto;
    width: 100%;
    
}

.table__productos{
    display: flex;
    
}

.table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad > input{
    width: 60px;
    border: none;
    outline: 0;
    font-size: 16px;
    margin-right: 700;
    margin-bottom: 20px;
    background-color: rgba(43, 211, 236, 0.918);
}

