nav {
  /* background-color: CSS Code: */
  background-color: #000000;
  font-size: medium;
  color: rgb(255, 255, 255);
}

footer {
  background-color: #000000;
  text-align: center;
  width: 100%;
  font-size: medium;
  color: rgb(0, 0, 0);
}

.ecoinclusive {
  width: 150px;
}

#video {
  width: 100%;
  max-width: fit-content;

}

.cintilla {

  background-color: rgb(249, 249, 249);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 36px;
  line-height: 28.799999px;
  margin-top: 0px;
  max-width: fit-content;

}

.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  max-width: fit-content;
  overflow: auto;
  flex-direction: row;
}

.FlexContainer div {
  width: 400px;
  height: 700px;
  max-width: fit-content;
}

.responsiveFlex {

  width: 400px;
  height: 700px;

  max-width: fit-content;

}

/* ESTILO CATEGORÃAS */

.FlexContainer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: fit-content;
  overflow: auto;
  flex-direction: row;
}

.FlexContainer1 div {
  width: 300px;
  height: 500px;
  max-width: fit-content;
  margin: 2px;
}
.responsiveFlex1 {

  width: 300px;
  height: 500px;

  max-width: fit-content;

}

#img1:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;

}

#img2:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;

}

#img3:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;

}

#img4:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;

}

#img5:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;

}

#img6:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;

}


video::-webkit-media-controls {
  display: none;
}

video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pausebutton {
  display: none;
}

/* TEXT 
=============================== */
#textcol {
  color: white;
}

.text {
  position: absolute;
  top: 200px;
  left: 100px;

  transform: rotate(-90deg);
}

.text h1 {
  font-size: 120px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -10px;
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 600px;


}

.text h1 .hide--text {
  position: absolute;
}

.text h2 {
  content: "duality";
  position: absolute;
  top: 40px;
  left: -80px;
  color: #c7d322;
  /* #fcc419; */
  z-index: -1;
  font-size: 150px;
  opacity: 1;

}

.text h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  position: relative;
  overflow: hidden;
  height: 80px;

}

.text h3 .hide--text {
  position: absolute;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 300px) {
  .text h1 {
    font-size: 30px;
    font-weight: 150;

  }

  .text h2 {
    font-size: 50px;
  }

  .text h3 {
    font-size: 2px;
  }

  #video {
    width: 100%;
    max-width: fit-content;

  }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 768px) {
  .text h1 {
    font-size: 60px;
    font-weight: 300;

  }

  .text h2 {
    font-size: 90px;
  }

  .text h3 {
    font-size: 5px;
  }

  #video {
    width: 100%;
    max-width: fit-content;
  }


}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .text h1 {
    font-size: 120px;
    font-weight: 900;

  }

  .text h2 {
    font-size: 130px;
  }

  .text h3 {
    font-size: 40px;
  }

  #video {
    width: 100%;
    max-width: fit-content;
  }

}

@media (max-width: 768px) {
  .FlexContainer.div.responsiveFlex {
    flex-direction: row;


  }
}

#slider-text {
  padding-top: 40px;
  display: block;
}

#slider-text .col-md-6 {
  overflow: hidden;
}

#slider-text h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}

#slider-text h2::after {
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
}

#itemslider h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}

#itemslider h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}

#itemslider h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 10px;
  margin: 2px auto 5px;
}

.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}

#slider-control img {
  padding-top: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  #slider-control img {
    padding-top: 70px;
    margin: 0 auto;
  }
}

/*INICIO CSS CAROUSEL*/

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}

.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}

@media all and (min-width: 768px) {

  .carousel-showmanymoveone .carousel-inner>.active.left,
  .carousel-showmanymoveone .carousel-inner>.prev {
    left: -50%;
  }

  .carousel-showmanymoveone .carousel-inner>.active.right,
  .carousel-showmanymoveone .carousel-inner>.next {
    left: 50%;
  }

  .carousel-showmanymoveone .carousel-inner>.left,
  .carousel-showmanymoveone .carousel-inner>.prev.right,
  .carousel-showmanymoveone .carousel-inner>.active {
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {

  .carousel-showmanymoveone .carousel-inner>.item.active.right,
  .carousel-showmanymoveone .carousel-inner>.item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner>.item.active.left,
  .carousel-showmanymoveone .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner>.item.left,
  .carousel-showmanymoveone .carousel-inner>.item.prev.right,
  .carousel-showmanymoveone .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@media all and (min-width: 992px) {

  .carousel-showmanymoveone .carousel-inner>.active.left,
  .carousel-showmanymoveone .carousel-inner>.prev {
    left: -16.666%;
  }

  .carousel-showmanymoveone .carousel-inner>.active.right,
  .carousel-showmanymoveone .carousel-inner>.next {
    left: 16.666%;
  }

  .carousel-showmanymoveone .carousel-inner>.left,
  .carousel-showmanymoveone .carousel-inner>.prev.right,
  .carousel-showmanymoveone .carousel-inner>.active {
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6 {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {

  .carousel-showmanymoveone .carousel-inner>.item.active.right,
  .carousel-showmanymoveone .carousel-inner>.item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner>.item.active.left,
  .carousel-showmanymoveone .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner>.item.left,
  .carousel-showmanymoveone .carousel-inner>.item.prev.right,
  .carousel-showmanymoveone .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}